<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.example.vonage"
        version="1.0.0">
    <name>VonagePlugin</name>
    <description>Cordova plugin to interact with Vonage Video API</description>
    <license>Apache 2.0</license>
    <js-module src="www/VonagePlugin.js" name="VonagePlugin">
        <clobbers target="window.VonagePlugin" />
    </js-module>
    <platform name="android">
        <framework src="com.opentok.android:opentok-android-sdk:2.25.3" />
        <source-file src="src/android/VonagePlugin.java" target-dir="src/com/example/vonage" />
	<config-file target="res/xml/config.xml" parent="/*">
            <feature name="VonagePlugin">
                <param name="android-package" value="com.example.vonage.VonagePlugin" />
            </feature>
        </config-file>
    </platform>
</plugin>
